body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div.divForFAQ{
    background: #EFEFF1;
    width:45%;
    margin-left: 20px;
    padding: 10px;
}

p.pQuestion{
    padding: 10px;
}
p.pQuestion span.spanAnswer{
    display: inline-block;
    padding: 10px 10px 0 10px;
    color: #6E728C;
}
p.pQuestion a{
    color: #0520C7;
    text-decoration: none;
}